<!--Code Reference : https://github.com/buckyroberts/Viberr-->
<!-- Page to be used as the base HTML for the pages which are specifically for unauthenticated users -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Loads the path for the static file-->
    {% load staticfiles %}

    <!--Load JS and CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'photo/style.css' %}">

    <script src="{% static 'photo/jquery.js' %}"></script>
    <script src="{% static 'photo/paginate.js' %}"></script>
    <script src="{% static 'photo/custom.js' %}"></script>

    <meta charset="UTF-8">
    <!-- Title of the page-->
    <title>{% block title %}Photos{% endblock %}</title>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--Logo Link-->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'photo:index'%}">Photos</a>
            </div>
            <!--Items on the Navigation Bar-->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <!--Link for the User Photo Upload Page-->
                        <a href="{% url 'photo:myuploads' %}">
                            <span class="glyphicon glyphicon-camera" aria-hidden="true">&nbsp;My Photos</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <!--Link for Page to upload photos-->
                        <a href="{% url 'photo:photo-add' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;Add Photos</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

<!-- Block to be used to add custom content on the child pages along with the base HTML content -->
{% block body %}
{% endblock %}

</body>
</html>